.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .social-media-button-container {
  zoom: 1;
  text-align: left;
  /*
    &:after {
        content:"";
        display:inline-block;
        width:100%;
    }
    */
}
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .social-media-button-container:before {
  content: '';
  display: block;
}
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .social-media-button-container:after {
  content: '';
  display: table;
  clear: both;
}
@media (max-width: 780) {
  .so-widget-sow-social-media-buttons-atom-cae6c2a67eae .social-media-button-container {
    text-align: left;
  }
}
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-facebook {
  border: 1px solid;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  background: #3a5795;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2c4270), color-stop(1, #3a5795));
  background: -ms-linear-gradient(bottom, #2c4270, #3a5795);
  background: -moz-linear-gradient(center bottom, #2c4270 0%, #3a5795 100%);
  background: -o-linear-gradient(#3a5795, #2c4270);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a5795', endColorstr='#2c4270', GradientType=0);
  border-color: #273b65 #25375e #203053 #25375e;
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-facebook.ow-button-hover:hover {
  background: #3d5b9c;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2f4678), color-stop(1, #3d5b9c));
  background: -ms-linear-gradient(bottom, #2f4678, #3d5b9c);
  background: -moz-linear-gradient(center bottom, #2f4678 0%, #3d5b9c 100%);
  background: -o-linear-gradient(#3d5b9c, #2f4678);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d5b9c', endColorstr='#2f4678', GradientType=0);
  border-color: #2a3f6d #273b65 #23355a #273b65;
}
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-facebook:visited,
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-facebook:active,
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-facebook:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-facebook.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-google-plus {
  border: 1px solid;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  background: #dd4b39;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #c23321), color-stop(1, #dd4b39));
  background: -ms-linear-gradient(bottom, #c23321, #dd4b39);
  background: -moz-linear-gradient(center bottom, #c23321 0%, #dd4b39 100%);
  background: -o-linear-gradient(#dd4b39, #c23321);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd4b39', endColorstr='#c23321', GradientType=0);
  border-color: #b52f1f #ac2d1e #9f2a1b #ac2d1e;
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-google-plus.ow-button-hover:hover {
  background: #de5342;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ca3523), color-stop(1, #de5342));
  background: -ms-linear-gradient(bottom, #ca3523, #de5342);
  background: -moz-linear-gradient(center bottom, #ca3523 0%, #de5342 100%);
  background: -o-linear-gradient(#de5342, #ca3523);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#de5342', endColorstr='#ca3523', GradientType=0);
  border-color: #bd3221 #b52f1f #a82c1d #b52f1f;
}
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-google-plus:visited,
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-google-plus:active,
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-google-plus:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-google-plus.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-linkedin {
  border: 1px solid;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  background: #0177b4;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #015581), color-stop(1, #0177b4));
  background: -ms-linear-gradient(bottom, #015581, #0177b4);
  background: -moz-linear-gradient(center bottom, #015581 0%, #0177b4 100%);
  background: -o-linear-gradient(#0177b4, #015581);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0177b4', endColorstr='#015581', GradientType=0);
  border-color: #014b72 #014568 #003b59 #014568;
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-linkedin.ow-button-hover:hover {
  background: #017ebe;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #015c8b), color-stop(1, #017ebe));
  background: -ms-linear-gradient(bottom, #015c8b, #017ebe);
  background: -moz-linear-gradient(center bottom, #015c8b 0%, #017ebe 100%);
  background: -o-linear-gradient(#017ebe, #015c8b);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#017ebe', endColorstr='#015c8b', GradientType=0);
  border-color: #01527c #014b72 #014163 #014b72;
}
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-linkedin:visited,
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-linkedin:active,
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-linkedin:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-linkedin.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-pinterest {
  border: 1px solid;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  background: #db7c83;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d0545d), color-stop(1, #db7c83));
  background: -ms-linear-gradient(bottom, #d0545d, #db7c83);
  background: -moz-linear-gradient(center bottom, #d0545d 0%, #db7c83 100%);
  background: -o-linear-gradient(#db7c83, #d0545d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#db7c83', endColorstr='#d0545d', GradientType=0);
  border-color: #cd4852 #cb404a #c53641 #cb404a;
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-pinterest.ow-button-hover:hover {
  background: #dd848b;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d25c65), color-stop(1, #dd848b));
  background: -ms-linear-gradient(bottom, #d25c65, #dd848b);
  background: -moz-linear-gradient(center bottom, #d25c65 0%, #dd848b 100%);
  background: -o-linear-gradient(#dd848b, #d25c65);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd848b', endColorstr='#d25c65', GradientType=0);
  border-color: #cf5059 #cd4852 #c93c46 #cd4852;
}
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-pinterest:visited,
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-pinterest:active,
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-pinterest:hover {
  color: #ffffff !important;
}
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button-pinterest.ow-button-hover:hover {
  color: #ffffff;
}
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button {
  font-size: 1em;
  padding: 0.5em 0.5em;
  margin: 0.1em 0.1em 0.1em 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  line-height: 1em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}
.so-widget-sow-social-media-buttons-atom-cae6c2a67eae .sow-social-media-button .sow-icon-fontawesome {
  width: 1em;
  height: 1em;
  display: inline-block;
}